src/main/resources/currency.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://eventmanagement.com/soap"
           elementFormDefault="qualified">

    <xs:element name="convertRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="convertResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>